@CHARSET "ISO-8859-1";
body{
	background: url(http://s18.postimg.org/l7yq0ir3t/pick8_1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
.navi
{
	margin: 50px;
	padding: 0;
	background-color: #000;
	border-radius: 5px;
	height:50px;
}
.navi li{display: inline-block; -webkit-transition:1s;}
.navi li a
{
	margin: 0;
	display: inline-block;
	padding: 15px 32px 15px 35px !important;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.navi li a:hover
{
	margin: 0;
	display: inline-block;
	padding: 15px 32px 15px 35px !important;
	color: #ffff00;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.li
{
	margin:0;
	padding: 5px;
	-webkit-transition:0.5s;
	width:100px;
	background:red;
}

.navi li:hover:nth-child(1) ~ .li
{margin:0 0 0 5px;}

.navi li:hover:nth-child(2) ~ .li
{margin:0 0 0 134px;}

.navi li:hover:nth-child(3) ~ .li
{margin:0 0 0 290px;}

.navi li:hover:nth-child(4) ~ .li
{margin:0 0 0 455px;}

.navi li:hover:nth-child(5) ~ .li
{margin:0 0 0 595px;}

.navi li:hover:nth-child(6) ~ .li
{margin:0 0 0 730px;}

.navi li:hover:nth-child(7) ~ .li
{margin:0 0 0 890px;}

.navi li:hover:nth-child(8) ~ .li
{margin:0 0 0 1070px;}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

